/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100dvh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* CSS RESET ENDS HERE */

body {
  background-color: #412525;
  color: white;

  /* & > * {
    border: 1px solid black;
  } */
  font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.container {
  --padding: 0.8rem 1rem;
  display: grid;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  padding: var(--padding);
  border-bottom: 3px solid #7a3c32;

  & .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    & button {
      color: white;
      padding: var(--padding);
      flex: 1;
      min-width: fit-content;
      width: 20ch;
    }
  }

  & h1 {
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0 #c7523d;
  }
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding: var(--padding);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #714433;
  border-radius: 3px;
  padding: var(--padding);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  & h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
  }

  & p {
    margin-bottom: 1.2rem;
  }

  & button {
    color: white;
    padding: var(--padding);
  }
}

button {
  border: none;
  border-radius: 3px;
  background-color: #c46352;
  &:hover,
  &:focus {
    background-color: #c7523d;
  }
}

dialog {
  padding: 1rem 2rem;
  max-width: 50ch;
  background-color: #714433;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  & > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > p {
      display: flex;
      flex-direction: column;
      
      & > label {
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
      }

      & > input {
        border: 1px solid black;
        border-radius: 3px;
        line-height: 1.7rem;
        padding: 0 0.3rem;
        outline: none;
        color: white;
        background-color: gray;
        font-size: 1.15rem;

        &:focus,
        &:hover {
          border: 1px solid transparent;
        }
      }
    }

    & > menu {
      display: flex;
      gap: 0.5rem;

      & > button {
        flex: 1;
        padding: 0.5rem 1rem;
        font-size: 2ch;
        color: white;
      }
    }
  }
}
