/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100dvh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* CSS RESET ENDS HERE */

body {
  background-color: #412525;
  color: white;

  /* & > * {
    border: 1px solid black;
  } */
  font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.container {
  --padding: 0.8rem 1rem;
  display: grid;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  padding: var(--padding);
  border-bottom: 3px solid #7a3c32;

  & .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    & button {
      color: white;
      padding: var(--padding);
      flex: 1;
      min-width: fit-content;
      width: 20ch;
    }
  }

  & h1 {
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0 #c7523d;
  }
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  /* display: flex; */
  padding: var(--padding);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #714433;
  border-radius: 3px;
  padding: var(--padding);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  & h1 {
    font-size: 2rem;
    border-bottom: 1px solid black;
    word-break: break-all;
  }

  & h1 + p {
    margin-top: auto;
  }

  & .flex-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* & .read-checkbox {
        vertical-align: middle;
    } */
  }

  & button {
    color: white;
    padding: var(--padding);
  }
}

button {
  border: none;
  border-radius: 3px;
  background-color: #c46352;
  &:hover,
  &:focus {
    background-color: #c7523d;
  }
}

dialog {
  width: min(100%, 40ch);
  padding: 1rem 2rem;
  background-color: #714433;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  & > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;

    & > p {
      display: flex;
      flex-direction: column;

      & > label {
        margin-bottom: 0.2rem;
        font-size: 1.1rem;
        font-style: italic;
      }

      & > input,
      select {
        border: 1px solid black;
        border-radius: 3px;
        line-height: 1.7rem;
        padding: 0 0.3rem;
        outline: none;
        color: white;
        background-color: gray;
        font-size: 1.15rem;
        accent-color: green;

        &:focus,
        &:hover {
          border: 1px solid transparent;
        }
      }
    }

    & > menu {
      display: flex;
      gap: 0.5rem;

      & > button {
        flex: 1;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        color: white;
      }
    }
  }

  &::backdrop {
    background: linear-gradient(
      180.3deg,
      rgba(221, 221, 221, 0.26) 5.5%,
      #c46352af 90.2%
    );
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 8px;
  background: #444;
  border-radius: 5px;
  position: relative;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
  position: absolute;
  content: "";
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

input[type="checkbox"]:before {
  width: 40px;
  height: 40px;
  background: #ccc;
  border: 5px solid #666;
  border-radius: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

input[type="checkbox"]:after {
  width: 30px;
  height: 30px;
  background: #666;
  border-radius: 50%;
  top: 50%;
  left: 10px;
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

input[type="checkbox"]:checked:before {
  left: calc(100% - 35px);
}

input[type="checkbox"]:checked:after {
  left: 75px;
  -webkit-transform: scale(0);
  transform: scale(0);
}
